.nav {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 184px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 90px;
	}
    @media (max-width: 480px) {
        margin-bottom: 50px;
	}
    @media (max-width: 480px) {
        margin-bottom: 25px;
	}

    &_logo {
        cursor: pointer;
        
        @media (max-width: 768px) {
            
            justify-self: center;
        }
    }
    &_downloadBtn {
        background: linear-gradient(93.22deg, #E1E1E1 8.37%, #FFFFFF 99.95%);
        box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08), inset 1px 1px 1px rgba(135, 135, 135, 0.32);
        border-radius: 999px;
        padding: 16px 24px;
        width: 159px;
        justify-self: end;

        
        @media (max-width: 768px) {
            justify-self: center;
            width: 200px;
        }
        @media (max-width: 320px) {
            justify-self: center;
            width: 150px;
            padding: 10px 17px;
        }
    }
    &_list{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &_item {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A0A3A7;
        margin-right: 64px;
        
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            border-bottom: 1px solid #A0A3A7;
        }
        @media (max-width: 768px) {
            margin-right: 30px;
        }
       
    }
}